html,
body
{
	margin-bottom: 0;
	padding-bottom: 0;
}

#footer
{
	text-align: center;
	position: fixed;
	width: 100%;
	left: auto;
	right: auto;
	bottom:  0px;
	margin: 0px;
	padding: 5px;
	background-color: rgb(231,231,231);
}
.page
{
	
}

.main
{
	
}